<div class="content">
    <h1 class="text-center mb-5">Fruit And Vege</h1>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5 class="text-center">Fruits</h5>
            </div>
            <div class="col-3" ng-repeat="fruit in fruits">
                {{ fruit }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5 class="text-center">Veges</h5>
            </div>
            <div class="col-3" ng-repeat="vege in veges">
                {{ vege }}
            </div>
        </div>
    </div>
</div>